<div class="pagination">

  <!-- FIRST -->
  <button
    (click)="goFirst()"
    [disabled]="currentPage === 1">
    «
  </button>

  <!-- PREV -->
  <button
    (click)="prev()"
    [disabled]="currentPage === 1">
    ←
  </button>

  <div class="pagination-center">

    <div class="pagination-numbers">
      <span class="page-current">
        {{ currentPage.toString().padStart(2, '0') }}
      </span>

      <span class="page-divider">/</span>

      <span class="page-total">
        {{ totalPages.toString().padStart(2, '0') }}
      </span>
    </div>

    <div class="progress-bar">
      <div
        class="progress-fill"
        [style.width.%]="(currentPage / totalPages) * 100">
      </div>
    </div>

  </div>

  <!-- NEXT -->
  <button
    (click)="next()"
    [disabled]="currentPage === totalPages">
    →
  </button>

  <!-- LAST -->
  <button
    (click)="goLast()"
    [disabled]="currentPage === totalPages">
    »
  </button>

</div>
