<nav>

  <a href="#" class="nav-logo">DG // Portfolio</a>

  <button class="nav-toggle" (click)="menuOpen = !menuOpen">
    ☰
  </button>

  <ul class="nav-links">

    <li>
      <a routerLink="/">
        Inicio
      </a>
    </li>

    <li>
      <a routerLink="/projects">
        Proyectos
      </a>
    </li>

    <li>
      <a routerLink="/projects">
        Experiencia
      </a>
    </li>

    <li>
      <a routerLink="/projects">
        Contacto
      </a>
    </li>

  </ul>

  <div class="nav-status">
    <div class="status-dot"></div>
    Disponible para proyectos
  </div>

</nav>
