<nav>

  <a routerLink="/" class="nav-logo"> <img src="/assets/icons/LOGO_SYS.svg" alt="" class="icon-svg"/> </a>

  <!-- TOGGLE -->
  <button
    class="nav-toggle"
    (click)="menuOpen = !menuOpen">

    ☰

  </button>

  <!-- LINKS -->
  <ul
    class="nav-links"
    [class.open]="menuOpen">

    <li>
      <a
        routerLink="/"
        routerLinkActive="active-link"
        [routerLinkActiveOptions]="{ exact: true }"
        (click)="closeMenu()">

        Inicio

      </a>
    </li>

    <li>
      <a
        routerLink="/skills"
        routerLinkActive="active-link"
        (click)="closeMenu()">

        Habilidades

      </a>
    </li>

    <li>
      <a
        routerLink="/projects"
        routerLinkActive="active-link"
        (click)="closeMenu()">

        Proyectos

      </a>
    </li>

    <li>
      <a
        routerLink="/experience"
        routerLinkActive="active-link"
        (click)="closeMenu()">

        Experiencia

      </a>
    </li>

    <li>
      <a
        routerLink="/credentials"
        routerLinkActive="active-link"
        (click)="closeMenu()">

        Credenciales

      </a>
    </li>

    <!--<li>
      <a
        routerLink="/dashboard"
        routerLinkActive="active-link"
        (click)="closeMenu()">

        Dashboard

      </a>
    </li>-->

  </ul>

  <div class="nav-status">

    <div class="status-dot"></div>

    Disponible para proyectos

  </div>

</nav>
