<section class="hero" id="home" reveal>

  <!-- IZQUIERDA -->
  <div class="hero-left">

    <div class="hero-tag">
      {{ profile().role }}
    </div>

    <h1 class="hero-name">
      {{ profile().name.split(' ')[0] }}<br>
      <span class="accent-word">
        {{ profile().name.split(' ')[1] }}
      </span>
    </h1>

    <p class="hero-title">
      {{ profile().title }}
    </p>

    <p class="hero-desc">
      {{ profile().description }}
    </p>

    <div class="hero-ctas">
      <a class="btn-primary" (click)="goToRoute('/projects')">Ver Proyectos →</a>
      <a class="btn-secondary" (click)="goToRoute('/contact')">Hablemos</a>
    </div>

  </div>

  <!-- DERECHA -->
  <div class="hero-right">
    <div class="photo-wrapper">
      <div class="photo-glow"></div>
      <div class="photo-frame"></div>

      <img src="/imagen/FOTO_V1.png" class="profile-photo"/>

      <span class="photo-label">// Diego Gonzalez //</span>
    </div>
  </div>


</section>
